.easycodebox {background: #F7F5E7 !important; border:#D4D0BA 2px solid !important;}
.easycodebox .headbar, .easycodebox .scrollbox .main ol {color:#CA3C08 !important;}
.easycodebox .scrollbox .ecside {background:#EEE !important;}
.easycodebox ol li:hover{background:#F2BF72 !important; color:#220E10 !important;}
