.easycodebox {background: #336600 !important; border:#003300 2px solid !important;}
.easycodebox .headbar, .easycodebox .scrollbox .main {color:#8CD884 !important;}
.easycodebox .scrollbox .ecside {background:#0A2B1D !important;}
.easycodebox ol li:hover{background:#766454 !important; color:#CCCC99 !important;}
