.easycodebox {background: #312520 !important; border-color:#900 !important; border-style:solid !important; border-width:3px 0 !important;}
.easycodebox .headbar, .easycodebox .scrollbox .main {color:#EEDEB0 !important;}
.easycodebox .scrollbox .ecside {background:#75664D !important;}
.easycodebox ol li:hover{background:#5D513C !important; color:#EEE !important;}
